/* https://css-loaders.com/ */

.dark {
  .loading-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.loading-overlay {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);

  &.show-loading-overlay {
    opacity: 1;
    visibility: visible;
  }

  .loading-spinner {
    width: 30px;
    --b: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, var(--theme-color, #f03355)) content-box;
    -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
      radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: l4 1s infinite steps(10);
  }

  .loading-text {
    margin-top: 10px;
    font-size: 12px;
  }

  @keyframes l4 {
    to {
      transform: rotate(1turn);
    }
  }
}
